.spon {
  background-color: #FFFFFF;
  text-align: center;
  color: #222222;
  font-weight: bold;
  font-size: 26px;
  height: 5vh;
  padding: 10px;
  font-family: 'Poppins' ,sans-serif;
  }

.image1{
    background-image: url('./Images/A1.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
  
  }

  .image2{
    background-image: url('./Images/A2.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
    position: relative;
  
  }

  .image3{
    background-image: url('./Images/A3.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
    position: relative;
  
  }

  .image4{
    background-image: url('./Images/A4.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size:  contain; 
    position: relative;
  }
  .image5{
    background-image: url('./Images/A5.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size:  contain; 
    position: relative;
  }
  .image6{
    background-image: url('./Images/A6.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size:  contain; 
    position: relative;
  }
  .image7{
    background-image: url('./Images/A7.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size:  contain; 
    position: relative;
  }
  .image8{
    background-image: url('./Images/A6.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size:  contain; 
    position: relative;
  }
  .image9{
    background-image: url('./Images/A9.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size:  contain; 
    position: relative;
  }
  .image10{
    background-image: url('./Images/A10.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size:  contain; 
    position: relative;
  }
  .image11{
    background-image: url('./Images/A11.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size:  contain; 
    position: relative;
  }
 
  .image12{
    background-image: url('./Images/A12.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size:  contain; 
    position: relative;
  }
  .image13{
    background-image: url('./Images/A13.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size:  contain; 
    position: relative;
  }
  .image14{
    background-image: url('./Images/A14.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size:  contain; 
    position: relative;
  }
  .image15{
    background-image: url('./Images/A15.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size:  contain; 
    position: relative;
  }
  .image16{
    background-image: url('./Images/A16.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size:  contain; 
    position: relative;
  }
  .image17{
    background-image: url('./Images/A17.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size:  contain; 
    position: relative;
  }
  .image18{
    background-image: url('./Images/A18.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size:  contain; 
    position: relative;
  }
  .image19{
    background-image: url('./Images/A19.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size:  contain; 
    position: relative;
  }
  