.containerDiv {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    flex-direction: column;
    align-items: center;
}

.containerDiv {
    background-color: #f3e9b4;

}

.text {
    color: #FFFFFF;
    text-align: center;
    font-family: 'poppins',sans-serif;
    font-weight: 500; 
    font-size: 1.3  rem;

}

.carddiv {
    background-image: url('./Images/Banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    overflow: hidden;
    width: 90%;
    height: 30vh;
}
 
.footer {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    font-family: 'poppins', sans-serif;
    height: 5vh;
    width: 100%;
    background-color: #f3e9b4;
}
.blockquote-footer {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #BBBBBB  ;
    padding-bottom: 13px;
  }