/* Default styles for maincontainer */
.maincontainer {
  display: flex;
  background-color: #f3e9b4;
  height: 30vh;
  flex-direction: row;
  justify-content: center;
}

.divitem1 {
  height: 30vh;
  width: 230px;
  margin-right: 20px;
  background-image: url('./Images/logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.divitem2 {
  height: 30vh;
  width: 310px;
  margin-right: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.divitem2-kid1 {
  height: 70px;
  width: 310px;
  margin-right: 20px;
}

.divitem2-kid2 {
  height: 50px;
  width: 160px;
  align-self: center;
}

.subtitletext {
  color: #689DAA;

  font-family: cooper;

  font-weight: 700;
  font-size: 40px;
}

.titletext {
  color: #FFA800;
  font-weight: 900;
  font-size: 56px;
  font-family: GinTest;

}

@font-face {
  font-family: GinTest;
  src: url(./fonts/Gin/GinTest-Rough.otf);
}

@font-face {
  font-family: cooper;
  src: url(./fonts/cooper/cooper/CooperHewitt-Book.ttf);
}


/* Media query for mobile devices with a max-width of 415px */
@media only screen and (max-width: 415px) {
  .maincontainer {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 20px;
  }

  .divitem1 {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }


  .divitem2 {
    height: 120px;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align children vertically */
  }

  .divitem2-kid1 {

    height: 50px;
    padding-left:90px; 
    width: 100%;
    align-self: center;
  }

  .divitem2-kid2 {
    margin-top: 10px;

    height: 50px;
    padding-left: 140px;
    width: 100%;
    align-self: center;
  }

  .subtitletext {
    font-size: 30px;
  }

  .titletext {
    font-size: 47px;
  }
}