.bgD {

    background-color: #f3e9b4;
    
}

.parent {
    display: flex;
    align-items: center;
    justify-content: center; 
    background-image: url("./Images/Grains.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    background-color: #f3e9b4;
    
}

.sliderDiv1 {
    background-image: url("./Images/carr.png");
    height: 400px;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    
}


.sliderItem {
    background-color: #669DA6;
    border-radius: 40px;
    height: 40vh;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.padding-100 {
    padding: 100px;
    font-family: 'Poppins', sans-serif;
}

.sliderDiv2 {
    width: 100%;
    background-color: #669DA6;
    border-radius: 40px;
    height: 40vh;
    margin: 70px;
    color: #FFFFFF;
    align-items: center;
}

/* Media Query for mobile devices with max width 415px */
@media (max-width: 415px) {
    .bgD {
        padding: 10px;
    }

    .parent {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .sliderItem {

        height: 40vh;
        color: #FFFFFF;
        margin-right: 10px;
    }

    .sliderDiv1 {
        height: 300px;
    }


    .padding-100 {
        padding: 50px;
        font-family: 'Poppins', sans-serif;
    }

    .sliderDiv2 { 
        margin: 40px; 
    }
}